.user-metadata {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: auto auto;

  .avatar {
    width: 7.5rem;
    height: 7.5rem;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    background-image: url(../../images/avatar-ring.svg);

    .user-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: url(../../images/avatar.jpg);
    }

    .button {
      right: 0rem;
      bottom: 0rem;
      display: flex;
      width: 2.8rem;
      height: 2.8rem;
      padding: .5rem;
      cursor: pointer;
      position: absolute;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      transition: all .3s ease-in-out;
      border: .5rem solid var(--yellow);
      background: linear-gradient(90deg, #498FC0 0%, #4CB39D 100%);
      &:hover {
        transform: scale(1.2);
      }
      &::before {
        width: 1rem;
        height: 1rem;
        display: block;
        content: '';
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../images/menu-button.svg);
      }
    }

  }

  .fit-points {
    display: flex;
    .count {
      font-size: 5rem;
      line-height: 1;
    }
    .label {
      padding-top: .75rem;
    }
  }

}

@media all and (min-device-width: 320px) and (max-device-width: 720px) {

  .user-metadata {
    grid-gap: 1.25rem;
    padding: 1rem .75rem;
    border-radius: .5rem;
    margin-bottom: 1.25rem;
    background: var(--white);
    border: 1px solid darken(#DCDDE4,5);

    .avatar {
      width: 4rem;
      height: 4rem;
      padding: .5rem;
      .button {
        right: -.15rem;
        bottom: -.15rem;
        width: 1.75rem;
        height: 1.75rem;
        padding: .35rem;
        border: .2rem solid var(--muted);
      }
    }

    .fit-points {
      padding-top: .25rem;
      padding-right: .25rem;
      align-content: flex-end;
      justify-content: flex-end;
      .count {
        font-size: 3.5rem;
        line-height: .8;
      }
      .label {
        padding-top: .0rem;
        align-self: flex-end;
        padding-bottom: .15rem;
      }
    }

  }


}
